*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, rgb(255, 0, 98),rgb(8, 235, 76),rgb(0, 119, 255));
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  height: 37rem;
  width: 27rem;
  box-shadow: 1px 5px 7px #000;
  background: #fff;
  border-radius: 20px;
}
h2{
 margin: 2.2rem 0rem;
 font-size: 2.5rem;
 color: rgb(0, 119, 255);
 text-align: center;
}
input{
  text-align: center;
  margin-left: 1rem;
  width: 75%;
  height: 2.7rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid rgb(0, 119, 255);
  background: transparent;
  outline: none;
  font-size: 1.8rem;
}
button{
  height: 4rem;
  width: 4rem;
  background: rgb(0, 119, 255);
  color: #fff;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 2.5rem;
  font-weight: 700;
  transition: 0.3S ease;
}
button:hover{
  background: rgb(0, 255, 64);
}
ol{
  margin-top: 3rem;
}
ol li{
  padding-left: 10px;
  text-align: left;
  font-size: 1.4rem;
  min-width: 4rem;
  display: flex;
  align-items: center;
  color: rgb(255, 0, 98);
  text-transform: capitalize;
}